node_modules/
dist/
.vite/
*.log
server/.env
/.env.staging
/.env.staging.local
server-dev.log
server-dev.err.log
full-dev.log
full-dev.err.log
server/prisma/.env
server/prisma/dev.db
server/prisma/dev.db-journal
backups/
postgres-data/
postgres-data
server/uploads/products/*
!server/uploads/products/.gitkeep
