node_modules/
dist/
.vite/
*.log
server/.env
/.env
/.env.production
/.env.production.local
/.env.preproduction
/.env.preproduction.local
/.env.staging
/.env.staging.local
server-dev.log
server-dev.err.log
full-dev.log
full-dev.err.log
server/prisma/.env
server/prisma/dev.db
server/prisma/dev.db-journal
backups/
uploads/
postgres-data/
postgres-data
logs/
*.db
server/uploads/products/*
!server/uploads/products/.gitkeep
